.home-content {
    padding-top: 50px;
}
#profile {
    margin-bottom: 20px;
}

#profile h3 {
    font-size: 18px;
    font-weight: 300;
    color: gray;
}

#profile h1 {
    font-weight: 300;
}

.image-cropper {
    width: 84%;
    height: 25%;
    position: relative;
    overflow: hidden;
    border-radius: 20%;
    border: 2px solid grey;
    margin-bottom: 20px;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.big-icon {
    font-size: 2rem;
    margin-right: 8px;
}

.timeline {
    list-style: none;
    padding-left: 0;
}
.timeline-item {
    margin-bottom: 10px;
}
.timeline-item .date {
    font-weight: bold;
    margin-right: 10px;
}

.links a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}
.links a:hover {
    text-decoration: underline;
}